.nav-container--maxwidth {

    background-color: whitesmoke;
    color: #000000;
    min-width: 85vh;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-table-row--responsive {

    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;

}